.App {
    backgroundColor: #ffffff;
  }
  
  
  .Header {
    height: 50px;
    background-color: #000000;
    color: #ffffff;
  }
  
  .Title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .Body {
    margin-top: 50px;
  }
  
  .Button {
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
  }
  